@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

body {
    background-color: darkseagreen;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#contenedorGeneral {
    text-align: center;
    padding: 2em;
}

#tituloPagina {
    font-family: "Barriecito", system-ui;
    font-size: 4em;
    color: rgb(255, 255, 255);
}

#layout-collage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
    margin: 20px auto;
}


#collageIzquierda {
    position: relative;
    width: 250px;
    height: 350px;
}

#capaFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.fotoEstática {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

#contenedorPersonaje {
    display: flex;
    flex-direction: column;
}

.imagen {
    height: 170px;
    width: 150px;
    display: block;
}

#boton {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgb(193, 120, 199);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#boton:hover {
    background-color: pink;
}

#saludo {
    margin-top: 20px;
    font-weight: bold;
}